body {
  background: rgb(240,233,234);
  background: linear-gradient(90deg, rgba(240,233,234,1) 0%, rgba(201,195,197,1) 100%);
}

.nav-icon {
  max-height: 40px;;
}

.extra-jumbo {
  background-color: transparent !important;
  color: #343a40 !important;
  font-weight: bold;
}

.backDoor
{
  background-color: #333;
  position:relative;
  width:200px;
  height:300px;
  
  margin: 0 auto;
  margin-top:50px;
}

.door
{
  background-color: brown;
  position:absolute;
  top:0px;
  left:0px;
  width:200px;
  height:300px;
 
  transform-origin: left;
  /*Speed of the Door animation*/
  transition: all 0.5s ease-in-out;
}

.doorOpen
{
  /*prespectiv creates the door open effect*/
  transform: perspective(1200px) translateZ(0px) translateX(0px) translateY(0px) rotateY(-105deg);
}

.footer-text {
  float: right;
  font-weight: bold;
  font-size: 16px;
}

.pull-right {
  float: right;
}

.text-bold {
  font-weight: bold;
}

.key {
  transform: rotate(90deg);
  margin-top: 120px;
}

.final-key {
  max-width: 250px !important;
  transform: rotate(90deg);
  margin-top: 60px;
  margin-left: -30px;
}

.key-input {
  max-width: 150px;
}

.error-message {
  color: red;
  font-weight: bold;
  font-size: 14px;
}

.keycode {
  font-size: 84px;
  color: white;
  display: flex;
  margin-left: 73px;
  padding-top: 73px;
}

.gimme-space-top {
  margin-top: 25px;
}

.secret-key {
  max-height: 30px;
  margin-left: -50px;
  margin-top: 75px;
  margin-bottom: 50px;
}

@keyframes goldPulse {
  from { background-color: #fc9200; -webkit-box-shadow: 0 0 9px #333; }
  50% { background-color: #ffb515; -webkit-box-shadow: 0 0 28px #ffb515; }
  to { background-color: #fc9200; -webkit-box-shadow: 0 0 9px #333; }
}

/* #key-logo {
  animation-name: goldPulse;
  animation-duration: 2s;
  animation-iteration-count: infinite;
} */

.confetti {
  width: 15px;
  height: 15px;
  background-color: #f2d74e;
  position: absolute;
  left: 50%;
  -webkit-animation: confetti 5s ease-in-out -2s infinite;
          animation: confetti 5s ease-in-out -2s infinite;
  -webkit-transform-origin: left top;
          transform-origin: left top;
}

.confetti:nth-child(1) {
  background-color: #f2d74e;
  left: 10%;
  -webkit-animation-delay: 0;
          animation-delay: 0;
}

.confetti:nth-child(2) {
  background-color: #95c3de;
  left: 20%;
  -webkit-animation-delay: -5s;
          animation-delay: -5s;
}

.confetti:nth-child(3) {
  background-color: #ff9a91;
  left: 30%;
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
}

.confetti:nth-child(4) {
  background-color: #f2d74e;
  left: 40%;
  -webkit-animation-delay: -2.5s;
          animation-delay: -2.5s;
}

.confetti:nth-child(5) {
  background-color: #95c3de;
  left: 50%;
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
}

.confetti:nth-child(6) {
  background-color: #ff9a91;
  left: 60%;
  -webkit-animation-delay: -6s;
          animation-delay: -6s;
}

.confetti:nth-child(7) {
  background-color: #f2d74e;
  left: 70%;
  -webkit-animation-delay: -1.5s;
          animation-delay: -1.5s;
}

.confetti:nth-child(8) {
  background-color: #95c3de;
  left: 80%;
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
}

.confetti:nth-child(9) {
  background-color: #ff9a91;
  left: 90%;
  -webkit-animation-delay: -3.5s;
          animation-delay: -3.5s;
}

.confetti:nth-child(10) {
  background-color: #f2d74e;
  left: 100%;
  -webkit-animation-delay: -2.5s;
          animation-delay: -2.5s;
}

@-webkit-keyframes confetti {
  0% {
    -webkit-transform: rotateZ(15deg) rotateY(0deg) translate(0, 0);
            transform: rotateZ(15deg) rotateY(0deg) translate(0, 0);
  }
  25% {
    -webkit-transform: rotateZ(5deg) rotateY(360deg) translate(-5vw, 20vh);
            transform: rotateZ(5deg) rotateY(360deg) translate(-5vw, 20vh);
  }
  50% {
    -webkit-transform: rotateZ(15deg) rotateY(720deg) translate(5vw, 60vh);
            transform: rotateZ(15deg) rotateY(720deg) translate(5vw, 60vh);
  }
  75% {
    -webkit-transform: rotateZ(5deg) rotateY(1080deg) translate(-10vw, 80vh);
            transform: rotateZ(5deg) rotateY(1080deg) translate(-10vw, 80vh);
  }
  100% {
    -webkit-transform: rotateZ(15deg) rotateY(1440deg) translate(10vw, 110vh);
            transform: rotateZ(15deg) rotateY(1440deg) translate(10vw, 110vh);
  }
}

@keyframes confetti {
  0% {
    -webkit-transform: rotateZ(15deg) rotateY(0deg) translate(0, 0);
            transform: rotateZ(15deg) rotateY(0deg) translate(0, 0);
  }
  25% {
    -webkit-transform: rotateZ(5deg) rotateY(360deg) translate(-5vw, 20vh);
            transform: rotateZ(5deg) rotateY(360deg) translate(-5vw, 20vh);
  }
  50% {
    -webkit-transform: rotateZ(15deg) rotateY(720deg) translate(5vw, 60vh);
            transform: rotateZ(15deg) rotateY(720deg) translate(5vw, 60vh);
  }
  75% {
    -webkit-transform: rotateZ(5deg) rotateY(1080deg) translate(-10vw, 80vh);
            transform: rotateZ(5deg) rotateY(1080deg) translate(-10vw, 80vh);
  }
  100% {
    -webkit-transform: rotateZ(15deg) rotateY(1440deg) translate(10vw, 110vh);
            transform: rotateZ(15deg) rotateY(1440deg) translate(10vw, 110vh);
  }
}